{% extends 'base.html' %}
{% block corousel %}
{% endblock %}
{% block body %}
<section class="main">
	<div class="container">
		<div class="row">
			<section class="post col-md-9">
				<article class="post clearfix">
					<a href="#" class="thumb pull-left">
						<img class="img-thumbnail" src="img/makron_vs.jpg">
						<h2 class="post-title">
						<br><br>
							<a href="">Эмануэлля Макрона Франциянын жаңы президенти болуп шайланды </a>
						</h2>
						<p><span class="post-fecha"> 7-май 2017-жыл</span>  <span class="post-autor"><a href="#">Искендер Аман Ибраев</a></span></p>
					</a><br>
					<p class="post-content text-justify">
						Во время церемонии глава Конституционного совета Лоран Фабиус снова озвучил результаты выборов, а потом провозгласил 39-летнего Эммануэля Макрона новым президентом страны.</p>
						<div class="media">
  						<a class="pull-left" href="#">
    					<img class="media-object" data-src="holder.js/64x64" src="img/london.jpg" width="150">
  						</a>
  						<div class="media-body body">
    					<h4 class="media-heading"><b>Британия шайлоо алдында</b></h4>
    </div>
</div>
<br>
<br>
	<p class="post-content text-justify">
						<b>При этом Фабиус подчеркнул, что успех Макрона «будет успехом всей Франции».</b>
						В свою очередь сам Макрон, выступивший с первой официальной речью в новом качестве, отметил, что осознает всю ответственность, которая легла на него, а также заявил, что «мир и Европа больше, чем когда-либо нуждаются во Франции», передает РИА Новости.
					</p>
					<div class="post-black"></div>
					<div class="contenedor-botones">
						<a href="#" class=" btn btn-warning"><span class="badge">14</span>Жакты</a>
						<a href="#"></a>
						<a href="#" class=" btn btn-info">Коментарий<span class="badge">20</span></a>
						<a href="#"></a>
						<a href="#" class=" btn btn-primary">Болушу<span fa ></span></a>
					</div>
				</article>
		<hr>
				</nav>
				</section>
				<aside class="col-md-3 hidden-xs hidden-sm">
		<div class="thema"><h4>Тема боюнча :</h4></div>
		<div class="list-group">
			<a href="#" class="list-group-item"><b>Парижде терракт коркунучу күтүлүүдобү?</b> <img src="img/paris.jpg" width="200" alt=""></a>
			<a href="#" class="list-group-item"><b>Францияда Президенттик шайлоонун 2-туру отот</b> <img src="img/shailoo.jpg" width="200" alt=""></a>

			<a href="#" class="list-group-item"><b>Улуу Британияда Парламеттик шайлоо</b> <img src="img/britain.jpg" alt="" width="200"></a>
			<a href="#" class="list-group-item"><b>Францияда Президентик шайлоонун 2-туру аяктады</b></a>
			<a href="#" class="list-group-item"><b>Туштук Кореяда жаны Президент: Мун Чжэ Ин</b></a>
			<a href="#" class="list-group-item"><b>Кыргызстанда Президенти шайлоо  күнү качан?</b></a>
		</div>
		<h4>Спорт</h4>
		<a href="#" class="list-group-item">
			<h4 class="list-group-heading">Чемпиондор Лигасы</h4>
			<p class="list-group-item-text">Реал Мадрид-Атлетико Мадрид 23:45(түз эфир)</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-heading">Эркин күрош. Азия Чемпионаты</h4>
			<p class="list-group-item-text">Кыргызстандык балбан-айым Айсулуу Тыныбекова 2-жолу "Азия Чемпиону" аталды</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-heading">Баскетбол</h4>
			<p class="list-group-item-text"> </p>
		</a>
	</aside>
		</div>

	</div>
{% block comments %}
		<div class="container">
  <h2>Коментарийлер:</h2>
  <div class="media">
    <div class="media-left media-top">
      <img src="img/img_avatar1.png" class="media-object" style="width:80px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Сабырбеков Алмаз:</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
  <hr>
    {% endblock comments %}
	</div>

	</section>
	<script type="text/javascript" src="js/holder.js"></script>
{% endblock body %}